<header>
  <h3>{{content.name}} Details</h3>
</header>

<section>
  <h4>Interests</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam adipisci quas qui, officiis alias corporis, doloremque
    debitis unde obcaecati nulla dolorem vitae animi ab cum quibusdam sint deserunt perspiciatis inventore!
  </p>
  <p>Qui quidem cumque beatae doloremque eligendi atque explicabo delectus, recusandae vitae illo voluptates labore ratione
    fugiat ducimus impedit provident tenetur, nihil earum repellat iusto temporibus neque omnis, totam maxime. Maiores, quam
    saepe.
  </p>
</section>

<footer>
  <button class="primary">Find</button>
  <button>Close</button>
</footer>