:host{
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  height: 80vh;
  background: url('http://wallpaper-gallery.net/images/blurry-picture/blurry-picture-14.jpg') center / cover no-repeat;
}

button {
  display: block;
  margin: 0.5em auto;
  padding: 1rem;
  width: 90%;
  font-size: 1rem;
  appearance: none;
  color: #fff;
  border-radius: 0;
  border: none;
  outline: 0;
  height: auto;
}

.facebook {
  background-color: #3b5998;
}

.google {
  background-color: #db4437;
}

.twitter {
  background-color: #1da1f2;
}